{{ "<!-- Header -->" | safeHTML }}
<header id="header">
	{{ if not .Site.Params.avatar.hide }}
	<a href="{{ .Site.BaseURL }}" class="image avatar"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" alt="" /></a>
	{{ end }}
	{{ with .Site.Params.sidebar.bio }}
		<h1>{{ . | markdownify }}</h1>
	{{ end }}

	{{ if .IsTranslated }}
		<nav id="sidebar">
			<ul>
			{{ range $i, $e := .Translations }}
				{{ if $i }}, {{ end }}<li><a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a></li>
			{{ end}}
			</ul>
		</nav>
    {{ end }}
</header>
