<section>
    {{ with .Site.Params.recentposts.title }}
        <h2>{{ . }}</h2>
    {{ end }}

	<div class="row">
        <br>
        <p>


        <div class="etsy-embed-page"><a data-affiliate-network='' data-affiliate-key='' data-affiliate-country-code='' data-affiliate-subkey='' href="https://www.etsy.com/pages/ovationtv">ART INSPIRATION | Ovation TV</a> on Etsy</div>
<script>(function(d,t){var s=d.createElement(t),s1=d.getElementsByTagName(t)[0];s.async=true;s.src="//site.etsystatic.com/widgets.js";
s1.parentNode.insertBefore(s,s1);})(document,'script');</script>
        

        </p>
	</div>
</section>
